body {
    background-color: #fff;
}

section {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

img {
    width: 100%;
    height: 150px;
}

nav {
    height: 80px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 0.5rem;
    padding-bottom: 0;
    border-bottom: solid;
    border-width: 2px;
}

nav a:hover {
    color: #fff;
}

.logo {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0rem 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-me, .work, .contact-me, .resume {
    line-height: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    height: 200px;
    border-left: solid black;
    border-radius: 20px;
    text-indent: 2%;
    margin: 2%;
    margin-left: 10%;
}

.about-me::before {
    font-family: Impact;
    content: 'About Me';
}

p {
    text-indent: 5%;
    margin: 1%;
}

@media screen and (max-width: 768px) {
    .section {
        grid-template-columns: 1fr;
    }
}